.custom-shape-divider-top-1643890315 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1643890315 svg {
  position: relative;
  display: block;
  width: calc(227% + 1.3px);
  height: 325px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1643890315 .shape-fill {
  fill: rgb(12, 11, 11);
}
@media (max-width: 440px) {
  .custom-shape-divider-top-1643890315 svg {
    width: calc(420% + 1.5px);
    height: 100vh;
  }
}
